.DS_Store
build/Debug-iphoneos/SampleApp.app.dSYM/Contents/Info.plist
build/Debug-iphoneos/SampleApp.app.dSYM/Contents/Resources/DWARF/SampleApp
build/Debug-iphoneos/SampleApp.app/ASCloseButton.png
build/Debug-iphoneos/SampleApp.app/ASCloseButton@2x.png
build/Debug-iphoneos/SampleApp.app/AS_Logo_Website.png.png
build/Debug-iphoneos/SampleApp.app/Icon-App-Store-Selected.png
build/Debug-iphoneos/SampleApp.app/Icon-App-Store-Selected@2x.png
build/Debug-iphoneos/SampleApp.app/Icon-App-Store.png
build/Debug-iphoneos/SampleApp.app/Icon-App-Store@2x.png
build/Debug-iphoneos/SampleApp.app/Info.plist
build/Debug-iphoneos/SampleApp.app/LaunchImage-568h@2x.png
build/Debug-iphoneos/SampleApp.app/LaunchImage-700-568h@2x.png
build/Debug-iphoneos/SampleApp.app/PkgInfo
build/Debug-iphoneos/SampleApp.app/ResourceRules.plist
build/Debug-iphoneos/SampleApp.app/SampleApp
build/Debug-iphoneos/SampleApp.app/_CodeSignature/CodeResources
build/Debug-iphoneos/SampleApp.app/bg_bottom.png
build/Debug-iphoneos/SampleApp.app/bg_top.png
build/Debug-iphoneos/SampleApp.app/close_game.png
build/Debug-iphoneos/SampleApp.app/close_game@2x.png
build/Debug-iphoneos/SampleApp.app/embedded.mobileprovision
build/Debug-iphoneos/SampleApp.app/en.lproj/InfoPlist.strings
build/Debug-iphoneos/SampleApp.app/main_ipad.storyboardc/Info.plist
build/Debug-iphoneos/SampleApp.app/main_ipad.storyboardc/UIViewController-ykT-jP-2Yl.nib
build/Debug-iphoneos/SampleApp.app/main_ipad.storyboardc/ykT-jP-2Yl-view-MHa-4F-k1j.nib
build/Debug-iphoneos/SampleApp.app/main_iphone.storyboardc/Info.plist
build/Debug-iphoneos/SampleApp.app/main_iphone.storyboardc/UIViewController-cqN-xV-Lfh.nib
build/Debug-iphoneos/SampleApp.app/main_iphone.storyboardc/cqN-xV-Lfh-view-bd9-uN-QAO.nib
build/SampleApp.build/Debug-iphoneos/SampleApp.build/Objects-normal/arm64/AppDelegate.d
build/SampleApp.build/Debug-iphoneos/SampleApp.build/Objects-normal/arm64/AppDelegate.dia
build/SampleApp.build/Debug-iphoneos/SampleApp.build/Objects-normal/arm64/AppDelegate.o
build/SampleApp.build/Debug-iphoneos/SampleApp.build/Objects-normal/arm64/SampleApp.LinkFileList
build/SampleApp.build/Debug-iphoneos/SampleApp.build/Objects-normal/arm64/SampleApp_dependency_info.dat
build/SampleApp.build/Debug-iphoneos/SampleApp.build/Objects-normal/arm64/ViewController.d
build/SampleApp.build/Debug-iphoneos/SampleApp.build/Objects-normal/arm64/ViewController.dia
build/SampleApp.build/Debug-iphoneos/SampleApp.build/Objects-normal/arm64/ViewController.o
build/SampleApp.build/Debug-iphoneos/SampleApp.build/Objects-normal/arm64/main.d
build/SampleApp.build/Debug-iphoneos/SampleApp.build/Objects-normal/arm64/main.dia
build/SampleApp.build/Debug-iphoneos/SampleApp.build/Objects-normal/arm64/main.o
build/SampleApp.build/Debug-iphoneos/SampleApp.build/Objects-normal/armv7/AppDelegate.d
build/SampleApp.build/Debug-iphoneos/SampleApp.build/Objects-normal/armv7/AppDelegate.dia
build/SampleApp.build/Debug-iphoneos/SampleApp.build/Objects-normal/armv7/AppDelegate.o
build/SampleApp.build/Debug-iphoneos/SampleApp.build/Objects-normal/armv7/SampleApp
build/SampleApp.build/Debug-iphoneos/SampleApp.build/Objects-normal/armv7/SampleApp.LinkFileList
build/SampleApp.build/Debug-iphoneos/SampleApp.build/Objects-normal/armv7/SampleApp_dependency_info.dat
build/SampleApp.build/Debug-iphoneos/SampleApp.build/Objects-normal/armv7/ViewController.d
build/SampleApp.build/Debug-iphoneos/SampleApp.build/Objects-normal/armv7/ViewController.dia
build/SampleApp.build/Debug-iphoneos/SampleApp.build/Objects-normal/armv7/ViewController.o
build/SampleApp.build/Debug-iphoneos/SampleApp.build/Objects-normal/armv7/main.d
build/SampleApp.build/Debug-iphoneos/SampleApp.build/Objects-normal/armv7/main.dia
build/SampleApp.build/Debug-iphoneos/SampleApp.build/Objects-normal/armv7/main.o
build/SampleApp.build/Debug-iphoneos/SampleApp.build/Objects-normal/armv7s/AppDelegate.d
build/SampleApp.build/Debug-iphoneos/SampleApp.build/Objects-normal/armv7s/AppDelegate.dia
build/SampleApp.build/Debug-iphoneos/SampleApp.build/Objects-normal/armv7s/AppDelegate.o
build/SampleApp.build/Debug-iphoneos/SampleApp.build/Objects-normal/armv7s/SampleApp.LinkFileList
build/SampleApp.build/Debug-iphoneos/SampleApp.build/Objects-normal/armv7s/SampleApp_dependency_info.dat
build/SampleApp.build/Debug-iphoneos/SampleApp.build/Objects-normal/armv7s/ViewController.d
build/SampleApp.build/Debug-iphoneos/SampleApp.build/Objects-normal/armv7s/ViewController.dia
build/SampleApp.build/Debug-iphoneos/SampleApp.build/Objects-normal/armv7s/ViewController.o
build/SampleApp.build/Debug-iphoneos/SampleApp.build/Objects-normal/armv7s/main.d
build/SampleApp.build/Debug-iphoneos/SampleApp.build/Objects-normal/armv7s/main.dia
build/SampleApp.build/Debug-iphoneos/SampleApp.build/Objects-normal/armv7s/main.o
build/SampleApp.build/Debug-iphoneos/SampleApp.build/SampleApp-all-target-headers.hmap
build/SampleApp.build/Debug-iphoneos/SampleApp.build/SampleApp-generated-files.hmap
build/SampleApp.build/Debug-iphoneos/SampleApp.build/SampleApp-own-target-headers.hmap
build/SampleApp.build/Debug-iphoneos/SampleApp.build/SampleApp-project-headers.hmap
build/SampleApp.build/Debug-iphoneos/SampleApp.build/SampleApp.dep
build/SampleApp.build/Debug-iphoneos/SampleApp.build/SampleApp.hmap
build/SampleApp.build/Debug-iphoneos/SampleApp.build/SampleApp.xcent
build/SampleApp.build/Debug-iphoneos/SampleApp.build/SampleApp~.dep
build/SampleApp.build/Debug-iphoneos/SampleApp.build/assetcatalog_dependencies.txt
build/SampleApp.build/Debug-iphoneos/SampleApp.build/assetcatalog_generated_info.plist
build/SampleApp.build/Debug-iphoneos/SampleApp.build/build-state.dat
build/SampleApp.build/Debug-iphoneos/SampleApp.build/build-state~.dat
build/SampleApp.build/Debug-iphoneos/SampleAppTests.build/SampleAppTests-all-target-headers.hmap
build/SampleApp.build/Debug-iphoneos/SampleAppTests.build/SampleAppTests-generated-files.hmap
build/SampleApp.build/Debug-iphoneos/SampleAppTests.build/SampleAppTests-own-target-headers.hmap
build/SampleApp.build/Debug-iphoneos/SampleAppTests.build/SampleAppTests-project-headers.hmap
build/SampleApp.build/Debug-iphoneos/SampleAppTests.build/SampleAppTests.hmap
build/SampleApp.build/Debug-iphonesimulator/SampleApp.build/Objects-normal/i386/AppDelegate.d
build/SampleApp.build/Debug-iphonesimulator/SampleApp.build/Objects-normal/i386/AppDelegate.dia
build/SampleApp.build/Debug-iphonesimulator/SampleApp.build/Objects-normal/i386/AppDelegate.o
build/SampleApp.build/Debug-iphonesimulator/SampleApp.build/Objects-normal/i386/SampleApp.LinkFileList
build/SampleApp.build/Debug-iphonesimulator/SampleApp.build/Objects-normal/i386/SampleApp_dependency_info.dat
build/SampleApp.build/Debug-iphonesimulator/SampleApp.build/Objects-normal/i386/ViewController.d
build/SampleApp.build/Debug-iphonesimulator/SampleApp.build/Objects-normal/i386/ViewController.dia
build/SampleApp.build/Debug-iphonesimulator/SampleApp.build/Objects-normal/i386/ViewController.o
build/SampleApp.build/Debug-iphonesimulator/SampleApp.build/Objects-normal/i386/main.d
build/SampleApp.build/Debug-iphonesimulator/SampleApp.build/Objects-normal/i386/main.dia
build/SampleApp.build/Debug-iphonesimulator/SampleApp.build/Objects-normal/i386/main.o
build/SampleApp.build/Debug-iphonesimulator/SampleApp.build/SampleApp-all-target-headers.hmap
build/SampleApp.build/Debug-iphonesimulator/SampleApp.build/SampleApp-generated-files.hmap
build/SampleApp.build/Debug-iphonesimulator/SampleApp.build/SampleApp-own-target-headers.hmap
build/SampleApp.build/Debug-iphonesimulator/SampleApp.build/SampleApp-project-headers.hmap
build/SampleApp.build/Debug-iphonesimulator/SampleApp.build/SampleApp.dep
build/SampleApp.build/Debug-iphonesimulator/SampleApp.build/SampleApp.hmap
build/SampleApp.build/Debug-iphonesimulator/SampleApp.build/build-state.dat
